h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.page_body {
    font-size: 15px;
    margin: 8px;
    padding: 10px;
    background-color: antiquewhite;
}

.default_style {
    margin:8px;
}